<div class="row">
   <div class="col s6 m6">
     <div class="card white darken-1 z-depth-2">
       <div class="card-content dark-grey-text">
         <span class="card-title">CITY NAME</span>
         <p>THIS IS WHERE THE WEATHER AND GAS PRICE WILL GO</p>
       </div>
       <div class="card-action">
         <p>THIS IS WHERE YELP TOOL BAR WILL GO</p>
       </div>
     </div>
   </div>
   <div class='col s6 m6'>
     <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;'><div id='gmap_canvas' style='height:800px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.buyinstagramfollowersreviews.net/">buy instagram followers</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(40.7607793,-111.89104739999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.7607793,-111.89104739999999)});infowindow = new google.maps.InfoWindow({content:'<strong>Title</strong><br>slc <br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
   </div>
 </div>
 </div>
