%div{:style => "width: 800px;"}
  #map{:style => "width: 800px; height: 400px;"}
    %div{:class => "col s12"}  
      %iframe{:class => 'map_responsive', :id => "google_map_directions", :allowfullscreen => "", :frameborder => "0", :src => "https://maps.googleapis.com/maps/api/directions/json?origin=39.73382,-105.01843&desitination=32.77403,-96.79375&sensor=false", :style => "border:0",}
    