<div class="row">
  <div class="hide" id="google_map">
  </div>

<div class="parallax-container">
  <div class="parallax home-img "><image_tag src="jiraffe.jpg"/></div>

  <div class="col s12 m7">
    <div id="card" class="card-2 z-depth-2">
        <div class="card-content black-text ">
          <h1 class="card-title">NEXT EXIT</h1>
          <h5 class= 'green-text'>Hi.</h5>
          <h5>Next Exit is a simply elequent solution to the question..</h5><h5 class= 'red-text'>"Where should we stop for gas and etc..?"<h5/>
          <h5>Just give us a starting address, a destination, and how often you wanna stop.</h5>
          <h5>Giraffes only need to drink once every few days. Most of their water comes from all the plants they eat.</h5>
          <h5>This app can make planning water stops easy breezy, since the majority of internet users are human and need to drink water more often than Giraffes</h5>
          <h5>Don't be a Giraffe use Next Exit to plan your trip through life*.</h5>
          <p>thug life</p>

        </div>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
  <div class="section white">
   <div class="row container">
    <div class="col s12 m6 push-m3">
      <div id="card" class="card card-1 z-depth-2">
        <div class="card-content black-text ">
          <span class="card-title">Tell Us Where You Want To Go.</span>
            <input type="text" id="from" placeholder="Origin"/>
            <input type="text" id="to" placeholder="Destination"/>
            <p>Stop every:</p>
            <select class='browser-default' name= "interval" id="userStops">
              <option value = 100>100 Miles</option>
              <option value = 150>150 Miles</option>
              <option value = 200>200 Miles</option>
              <option value = 250>250 Miles</option>
              <option value = 300>300 Miles</option>
              <option value = 350>350 Miles</option>
              <option value = 400>400 Miles</option>
              <option value = 450>450 Miles</option>
              <option value = 500>500 Miles</option>
            </select>
            <input class="btn" id='go_to_route' type="submit"/>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>
</div>
<RoadTrips />
