<div id="google_map" style="width: 800px; height: 600px;"></div>
of the route from <input type="text" id="from" value="denver"/>
to <input type="text" id="to" value="dallas"/>
<input id='go_to_route' type="submit" />
<RoadTrips />