<div class="row">
  <div class="hide" id="google_map">
  </div>

<div class="parallax-container">
  <div class="parallax home-img "><img src="assets/jiraffe.jpg"></div>

  <div class="col s12 m7">
    <div id="card" class="card-2 z-depth-2">
        <div class="card-content black-text ">
          <h1 class="card-title">NEXT EXIT;)</h1>
          <p>Simple as pie (if pie was a internet website). Just put in where you are, where you wanna go, and how often you wanna stop and let us do the rest.</p>

        </div>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
  <div class="section white">
   <div class="row container">
    <div class="col s12 m6">
      <div id="card" class="card card-1 z-depth-2">
        <div class="card-content black-text ">
          <span class="card-title">Tell Us Where You Want To Go.</span>
            <input type="text" id="from" placeholder="Origin"/>
            <input type="text" id="to" placeholder="Destination"/>
            <p>Stop every:</p>
            <select class='browser-default' name= "interval" id="userStops">
              <option value = 100>100 Miles</option>
              <option value = 150>150 Miles</option>
              <option value = 200>200 Miles</option>
              <option value = 250>250 Miles</option>
              <option value = 300>300 Miles</option>
              <option value = 350>350 Miles</option>
              <option value = 400>400 Miles</option>
              <option value = 450>450 Miles</option>
              <option value = 500>500 Miles</option>
            </select>
            <input class="btn" id='go_to_route' type="submit"/>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>
</div>
<RoadTrips />
