<div class="row">
  <% @yelp_results['businesses'].each do |yelp_result| %>
    <div class="col s12 m6">
      <div class="card white darken-1 z-depth-2">
        <div class="card-content dark-grey-text">
          <span class="card-title"></span>
          <p><%= yelp_result['name'] %></p>
          <p><%= yelp_result['rating'] %> <a target="_blank" href=><% yelp_result['url'] %>See on Yelp.com<a/>
        </div>
      </div>
    </div>
  <% end %>
</div>