%center/
%br/
%h4.container Interested in working for NextExit?
%br/
%h6.container Send us an email, we want to hear from you.
%br/
%form
  .row.container.input-field
    %label{:for => "name"} Your name
    %br/
    %input#name.input{:name => "name", :size => "30", :type => "text", :value => ""}/
    %br/
  .row.container.input-field
    %label{:for => "email"} Your email
    %br/
    %input#email.input{:name => "email", :size => "30", :type => "text", :value => ""}/
    %br/
  .row.container
    %br/
    %textarea#message.input{:cols => "30", :name => "message", :placeholder => "Your message", :rows => "7"}
    %br/
    %br/
    %input#submit_button.btn{:type => "submit", :value => "Send email"}/
