.parallax-container 
  .parallax 
  =image_tag 'parallax1.jpg'
.section.white
  .row.container
    %h2.header Next Exit
    %p.grey-text.text-darken-3.lighten-3 At NextExit, our mission is simple: Be the best place to work with the best people. How do we achieve that? NextExit has a small, agile workforce.  We don't believe in giving out titles, but instead relying on the synergy of the team.  With no investors, we only take direction from our hearts and follow our guts, shoot from the hip, and aim for the stars. Our staff is over the moon to work here and often try to pay us to be apart of the team.  Working for us, your NextExit will be the best one yet.
.parallax-container
  .parallax
  =image_tag 'parallax2.jpg'

%center/
%br/
%h4.container Interested in working for NextExit?
%br/
%h6.container Send us an email, we want to hear from you.
%br/
%form
  .row.container.input-field
    %label{:for => "name"} Your name
    %br/
    %input#name.input{:name => "name", :size => "30", :type => "text", :value => ""}/
    %br/
  .row.container.input-field
    %label{:for => "email"} Your email
    %br/
    %input#email.input{:name => "email", :size => "30", :type => "text", :value => ""}/
    %br/
  .row.container
    %br/
    %textarea#message.input{:cols => "30", :name => "message", :placeholder => "Your message", :rows => "7"}
    %br/
    %br/
    %input#submit_button.btn{:type => "submit", :value => "Send email"}/
