.center/
%body 
  %h1 The Next Exit Team
  %p.container Next Exit is the place to get all your information about a road trip. Want to know where to stop for gas, and what the weather will be like there? Next Exit has the answer.  Next Exit makes recommendations based off conditions, and can recommend gas stops, hotels, places to eat, and places to visit. 
  %br/
  = link_to "Jacob", about_us_jacob_path
  = link_to "Parker", about_us_parker_path
  = link_to "Russell", about_us_russell_path
  = link_to "Todd", about_us_todd_path