.parallax-container
  .parallax
    =image_tag 'me3.jpg'
.section.white
  .row.container
    %h2.header Jacob Squire
    %p.grey-text.text-darken-3.lighten-3 I'm a 22 year old sophomore at BYU studying Computer Science with a minor in Mandarin Chinese.  I speak three languages, and many computer languages.  Recntly I got back from serving a two year LDS mission to Bangkok, Thailand.  Currently, I'm looking for any interships and cool experiences to add to my portfolio.  Email me at jacobmsquire@yahoo.com or checkout my GitHub and Linkedin profiles 
    =link_to "The Team", about_us_index_path
.parallax-container
  .parallax
    =image_tag 'thailand2.jpg'
