.parallax-container
  .parallax
    =image_tag 'parallax1.jpg'
.section.white
  .row.container
    %h2.header Jacob Squire
    %p.grey-text.text-darken-3.lighten-3 Squire info goes here
    =link_to "The Team", about_us_index_path
.parallax-container
  .parallax
    =image_tag 'parallax2.jpg'
