.parallax-container
  .parallax
    =image_tag 'parallax1.jpg'
.section.white
  .row.container
    %h2.header Russell Johnson
    %p.grey-text.text-darken-3.lighten-3 Russell is a Hecka chill dude! When he isn't coding you can find him bro'n down with some of his top man friends.
    =link_to "The Team", about_us_index_path
.parallax-container
  .parallax
    =image_tag 'parallax2.jpg'

