%h1 AboutUs#russell
%p Find me in app/views/about_us/russell.html.haml

.parallax-container
  .parallax
    %img{:src => "russell.jpg"}/
.section.white
  .row.container
    %h2.header Parallax
    %p.grey-text.text-darken-3.lighten-3 Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
.parallax-container
  .parallax
    %img{:src => "images/parallax2.jpg"}/

=link_to "The Team", about_us_index_path
