.parallax-container
  .parallax
    =image_tag 'parallax1.jpg'
.section.white
  .row.container
    %h2.header Russell Johnson
    %p.grey-text.text-darken-3.lighten-3 Russell enjoys hiking with his wife meggybabe.

    =link_to "The Team", about_us_index_path
.parallax-container
  .parallax
    =image_tag 'parallax2.jpg'
