.center/
%h3 Todd Utterback
%p.container Todd loves road tripping, and needed a place to find all his trip info in one place. Todd tracks his fuel efficiency, has an iPhone car cradle, and listens to audiobooks.
%br/
%a{:href => "hhttps://www.linkedin.com/in/tutterback", :target => "_blank"} LinkedIn
%a{:href => "https://twitter.com/tsmells", :target => "_blank"} Twitter
%a{:href => "https://github.com/toddutterback", :target => "_blank"} GitHub
%br/

=link_to "The Team", about_us_index_path