.parallax-container
  .parallax
    =image_tag 'parallax1.jpg'
.section.white.valign-wrapper
  .row.container
    %h2.valign Todd Utterback
    %p.grey-text.text-darken-3.lighten-3 Todd loves road tripping, and needed a place to find all his trip info in one place. Todd tracks his fuel efficiency, has an iPhone car cradle, and listens to audiobooks.
    %br/
    %a{:href => "hhttps://www.linkedin.com/in/tutterback", :target => "_blank"} LinkedIn
    %a{:href => "https://twitter.com/tsmells", :target => "_blank"} Twitter
    %a{:href => "https://github.com/toddutterback", :target => "_blank"} GitHub
.parallax-container
  .parallax
    =image_tag 'parallax2.jpg'

=link_to "The Team", about_us_index_path