.center/
%h3 Todd Utterback
%p.container Todd loves driving around the U.S., and needed a place to find all the information he wanted to know for a road trip. Todd tracks his fuel efficiency, has an iPhone car cradle, and subscribes to audiobooks.com
%br/
%a{:href => "hhttps://www.linkedin.com/in/tutterback", :target => "_blank"} LinkedIn
%a{:href => "https://twitter.com/tsmells", :target => "_blank"} Twitter
%a{:href => "https://github.com/toddutterback", :target => "_blank"} GitHub
%br/

=link_to "The Team", about_us_index_path