@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: #013159 !default;
$link-color: color("green", lighten-2) !default;
@import 'materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#overflow{
  height: 650px;
  overflow: scroll;
}

main {
  flex: 1 0 auto;
}
// CARD ON CONTACT_US
.card {
  opacity: .8;
}

.photo {
  height: 100px;
}



.icon {
  height: 70px;
}

.parallax-container {
      height: 90vh;
      align: center;
    }
.section {
  height: 500px;
  text-align: center;
}

#google_map {
  width: 65%;
  height: 650px;
  position: absolute;

}

#google_map_directions {
  width: 49%;
  height: 600px;
  position: absolute;
}

// NAVBARS
.nav-wrapper {
  background-color: #ffffff;
}

// FOOTER
#footer {
  background-color: #ffffff;
}

// FORM


.card-1 {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=60);
  position: absolute;
  float: left;

}

.card-2 {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=60);
  position: absolute;
  padding: 20px;

}

.home-img {
  height: 70;
}


/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
